@import './mixins/mixins.scss';
@import './common/var.scss';

@include b(pagination) {
	display: flex;
	align-items: center;
	color: $--color-white;

	button {
		display: inline-block;
		font-size: $--pagination-font-size;
		min-width: $--pagination-button-width;
		height: $--pagination-button-height;
		line-height: $--pagination-button-height;
		vertical-align: top;
		box-sizing: border-box;
		border: none;
		background: transparent;
		text-align: center;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:hover {
			color: $--pagination-hover-color;
		}

		&:disabled {
			color: $--pagination-button-disabled-color;
			background-color: $--pagination-button-disabled-background-color;
			cursor: not-allowed;
		}
	}
	.btn-prev,
	.btn-next {
		background: center center no-repeat;
		background-size: 16px;
		background-color: $--pagination-background-color;
		cursor: pointer;
		margin: 0;
		color: $--pagination-button-color;
	}

	.btn-prev {
		padding-right: 12px;
	}

	.btn-next {
		padding-left: 12px;
	}

	@include when(background) {
		.btn-prev,
		.btn-next,
		.el-pager li {
			margin: 0 5px;
			background-color: $--color-info-lighter;
			color: $--color-text-regular;
			min-width: 30px;
			border-radius: 2px;

			&.disabled {
				color: $--color-text-placeholder;
			}
		}

		.btn-prev,
		.btn-next {
			padding: 0;

			&:hover {
				color: $--color-primary;
			}

			&:disabled {
				color: $--color-text-placeholder;
			}
		}

		.ai-pager li {
			margin: 0 5px;
			background-color: $--color-info-lighter;
			color: $--color-text-regular;
			min-width: 30px;
			border-radius: 2px;

			&.active {
				color: $--color-white;
				background: $--color-primary;
			}

			&:hover:not(.active) {
				color: $--color-primary;
				background: $--color-info-lighter;
			}
		}
	}
}

@include b(pager) {
	display: flex;
	list-style: none;
	user-select: none;
	padding-inline-start: 0;

	& {
		li {
			padding: 0 4px;
			background: $--pagination-background-color;
			vertical-align: top;
			display: inline-block;
			font-size: $--pagination-font-size;
			min-width: $--pagination-button-width;
			height: $--pagination-button-height;
			line-height: $--pagination-button-height;
			cursor: pointer;
			box-sizing: border-box;
			text-align: center;
			margin: 0;
		}
		.active {
			color: $--color-primary;
		}
	}
}
